.site-header{
    margin-bottom: 2px;
}
.header__container{
    max-width: 1200px;
    padding: 26px 0 17px 0;
}
.site-header__top-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.site-header__img-block{
    max-width: 150px;
}
.site-header__list{
    max-width: 391px;
    display: flex;
    align-items: center;
}
.site-header__item + .site-header__item{
    margin-left: 50px;
}

.site-header__item > a{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #3D3D3D;
}
.right-block__list{
    display: flex;
}
.right-block__list{
   gap: 30px;
   align-items: center;
}
.button__header{
    max-width: 100px;
height: 35px;
}
.right-block__list{
    max-width: 205px;
}
.button__header{
    width: 100px;
height: 35px;
background: #46A358;
border-radius: 6px;
border: none;
padding: 0;
margin: 0;
}

.login{
    width: 42px;
height: 20px;
    font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
.input__block{
    max-width: 750px;   
    width: 750px;
   
    margin-left: auto;
    margin-right: auto;
    background: #F8F8F8;
border-radius: 10px;
display: none;
}
.input{
    display: inline-block;
    padding: 15 0 15px 11px;
}
.header-section{
    display: none;
}
.site-header__item-link:hover{
  border-bottom: 2.5px solid #46A358;
  padding-bottom: 25px;
}
@media screen and (max-width:820px) {
     .header-section{
        display: flex;
        align-items: center;
     }
    .site-header{
        display: none;
    }
    .input__block{
        max-width: 680px;   
        margin-left: auto;
        margin-right: auto;
        background: #F8F8F8;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    }
    
  .input{
    padding: 15px 0 15px 0;
    border: none;
    background: #F8F8F8;
    margin-left: 8px;
  }
 
  .input__block{
    margin:11px ;
    padding-left: 11px;
  }
  .img__link{
    width: 45px;
    height: 45px;
    background: linear-gradient(137.05deg, rgba(70, 163, 88, 0.45) -24.6%, #46A358 100%);
box-shadow: 0px 10px 20px rgba(70, 163, 88, 0.3);
border-radius: 14px;
border: none;
  }
}